#profile-image {
    object-fit: cover;
    display: block;
  }
  
  body {
    display: block;
    height: 100%;
  }
  
  @media (min-width: 995px) {
    body {
      display: block;
      height: 90vh;
    }
  }
  
  #main {
    margin-right: auto;
    margin-left: auto;
    padding-top: 75px;
    width: 900px;
  }
  
  #profile {
    width: 325px;
    background: transparent;
    border-style: none;
    margin: auto;
    display: block;
  }
  
  @media (min-width: 995px) {
    #profile {
      float: left;
      width: 325px;
      background: transparent;
      border-style: none;
    }
  }
  
  #projects {
    padding-top: 25px;
    padding-left: 75px;
    border-style: none;
    background: transparent;
  }
  
  @media (min-width: 995px) {
    #projects {
      float: right;
      width: 545px;
      padding-top: 25px;
      padding-left: 75px;
      border-style: none;
      border-left-style: dashed;
      border-left-color: rgb(176, 176, 176);
      background: transparent;
      min-height: 400px;
    }
  }
  
  #picture {
    display: block;
    height: 100%;
    width: 40%;
    object-fit: cover;
    float: left;
    padding: 15px;
  }
  
  .card-link + .card-link {
  }
  
  .card-body {
    background: transparent;
    padding: 0px;
    width: 325px;
  }
  
  #bio {
    float: right;
    width: 60%;
    padding-top: 25px;
  }
  
  html {
    background: #003367;
  }
  
  @media (min-width: 995px) {
    html {
      background: #446e9b;
    }
  }
  
  #link-linkedin {
  }
  
  #link-github {
    padding-right: 10px;
  }
  
  #links {
  }
  
  .project-card {
    width: 100%;
    float: inherit;
    max-width: 100%;
    flex: 0 0 100%;
  }
  
  .project-card a{
    text-decoration-color: #777 !important;
  }
  
  #bio-card {
    height: 130px;
    width: 325px;
    margin-bottom: 25px;
  }
  
  .col-md-12.col-lg-5 {
    margin-top: 1px;
    margin-bottom: 1px;
    flex: 0 0 40%;
  }
  
  @media (min-width: 995px) {
    .col-md-12.col-lg-5 {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }
  
  .card {
    border-radius: 0px;
  }
  
  .text-left.text-muted {
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
  }
  
  .mb-2, .my-2 {
    margin-bottom: 0px;
  }
  
  .mb-2, .my-2 {
    margin-bottom: 0rem !important;
  }
  
  @media (max-width: 995px) {
    #main {
      max-width: 540px;
    }
  }
  